.menu{
	/*border: 1px solid blue;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #EEE
}

.submenu-group {
	display: flex;
	justify-content: flex-start;
}

.timer-group {
	flex:1;
	justify-content: center;
}

.button-group {
	flex: 2;
}

.button-group-right {
	justify-content: flex-end;
}

.menu-button {
	background-color: white;
	border: 1px solid black;
	border-radius: 4px;
	display: inline-block;
	margin: 6px 10px;
	/*height: 3em;*/
}

.menu-button:hover {
	border: 1px solid orange;
	background-color: #fff6e7;
}

.menu-button:active {
	background-color: #ffdb9a;
}

.menu-button img {
	height: 2em;
	margin: 4px;
}

#timerDisplay {
	margin: 0;
}

.settings-row {
	display: flex;
}

.settings-row * {
	justify-content: flex-start;
}

.btn-removed{
	display: none;
}

.btn-hidden {
	visibility: hidden;
}

.settings-row{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.settings-row-section{
	flex:1;
	text-align: center;
}


