#root{
	display: flex;
	justify-content: center;
}

:root {
  --set-red: rgb(221, 78, 74);
  --set-green: rgb(80, 176, 99);
  --set-blue: rgb(69, 48, 141);

  --lightest: #FFFFFF;
  --lt-gray: #EEEEEE;
  --med-gray: #cccccc;
  --dim-gray: rgb(167, 167, 167);

  --lt-red: rgb(224, 161, 161);
  --lt-green: rgb(164, 206, 170);
  --lt-blue: rgb(158, 150, 188);

  --btn-color-hover: #fff6e7;
  --btn-color-active: #ffdb9a;
  --btn-color-active-border: orange;

  --card-color-active: #c1e1ec;
  --card-color-hover: #add8e6;

  --border-color: #444444;
  --quit-card-red: #e8dada;
}

.App {
	margin: 20px 0px;
	text-align: center;
	width:80%;
	justify-content: center;
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	min-width: 400px;
	background-color: var(--lt-gray);
}

.cards-container {
  display: flex;
}

.left-panel {
	flex:5;
}

.right-panel {
	flex:2;
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 880px) {
	.cards-container {
		flex-direction: column;
	}

	.right-panel {
		flex:1;
	}

 	.left-panel {
		flex:1;
	}

}

@media screen and (max-width: 500px) {

.App {
		margin: 0;
		width: 100%;
	}
}



