#root{
	display: flex;
	justify-content: center;
}

:root {
  --set-red: rgb(221, 78, 74);
  --set-green: rgb(80, 176, 99);
  --set-blue: rgb(69, 48, 141);
  --dim-gray: #ccc;
}

.App {
	margin: 20px 0px;
	text-align: center;
	width:80%;
	justify-content: center;
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	min-width: 400px;
	background-color: #EEE;
}

.cards-container {
  display: flex;
}

.left-panel {
	flex:5;
}

.right-panel {
	flex:2;
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 880px) {
	.cards-container {
		flex-direction: column;
	}

	.right-panel {
		flex:1;
	}

 	.left-panel {
		flex:1;
	}	
}



