.card {
	border: 1.4px solid var(--border-color);
	width: 28%;
	margin: 2%;
	cursor: pointer;
	border-radius: 10px;
	display: inline-flex;
	justify-content: center;
	background-color: var(--lightest);
	touch-action: manipulation;
}



.active {
	background-color: var(--card-color-active);
}

.active:hover {
	background-color: var(--card-color-hover);
}

.inactive {
	background-color: var(--lightest);
}

.inactive:hover, .success:hover , .fail:hover  {
	background-color: var(--lt-gray);
}

.success{
	background-color: var(--lightest);
	box-shadow: 3px 3px 5px var(--lt-green), 
	-3px -3px 5px var(--lt-green), 
	3px -3px 5px var(--lt-green), 
	-3px 3px 5px var(--lt-green)
}

.fail{
	background-color: var(--lightest);
	box-shadow: 3px 3px 5px var(--lt-red), 
	-3px -3px 5px var(--lt-red), 
	3px -3px 5px var(--lt-red), 
	-3px 3px 5px var(--lt-red);
}

.paused svg {
	/*visibility: hidden;*/
	fill: var(--dim-gray);
}

