.foundCard {
	border: .8px solid #555;
	height: 3.4rem;
	width: 25%;
	border-radius: 10px;
	display: inline-flex;
	justify-content: center;
	background-color: #FFF;
	padding: 0px 1px;
	margin: 3px;
}

.foundCard svg{
	margin:0px 1px;
	width: 28%;
}

.empty{
	background-color: var(--dim-gray);
	border: none;
	opacity: 75%;
}

.quit{
	background-color: hsla(0,60%, 80%, 20%);
	border: .8px solid red;
}

