.end-container {
  display: block;
  position: fixed;
  margin-left:auto;
  width: 250px;
  margin-right:auto;
  height: 210px;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EEE;
  z-index: 2;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 6px;
  cursor: default;
}

.end-container p {
  font-size: 1.2rem;
  margin: 3px 30px;
  text-align: center;
}

.end-header {
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
  /*border: 1px solid green;*/
}

.end-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 184px;
  /*border: 1px solid blue;*/
}

.exit-end-btn {
  margin-top: 6px;
  margin-right: 6px;
  padding: 1px;
  border-radius: 6px;
  background-color: #BBB;
  color: #EEE;
  height: 1rem;
  line-height: 1rem;
  width: 1rem;
  cursor: pointer;
}

.end-status {
  /*border: 1px solid green;*/
}

.end-replay {
  padding-bottom: 8px;
  /*border: 1px solid orange;*/
}

.endgame-hidden{
  display: none;
}

.end-newgame-btn {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  display: inline-block;
  margin: 2px;
  /*height: 3em;*/
}

.end-newgame-btn:hover {
  border: 1px solid orange;
  background-color: #fff6e7;
}

.end-newgame-btn:active {
  background-color: #ffdb9a;
}

.end-newgame-btn img {
  height: 2em;
  margin: 4px;
}

