.messageBar {
	/*border: 1px solid purple;*/
	background-color: var(-lt-gray);
	display: flex;
	justify-content: center;
}

.messageBar h3 {	
	border-radius: 3px;
	margin: 1px;
	width: 92%;
}

h3.success-msg {
	background-color: var(--lt-green);
}

h3.complete-msg {
	background-color: var(--lt-blue);
}

h3.failure-msg {
	background-color: var(--lt-red);
}

h3.duplicate-msg {
	background-color: var(--med-gray);
}

h3.neutral-msg {
	background-color: var(--med-gray);
}

h3.empty-msg {
	visibility: hidden;
}